<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.demotide20">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 手機震動 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllListActivity" />
        <activity android:name=".ShipperActivity" />
        <activity android:name=".PurchaseActivity" />
        <activity android:name=".ShipperOrderActivity" />
        <activity android:name=".SystemActivity" />

        <service
        android:name=".Delay"
        android:enabled="true"
        android:exported="true" />

        <activity
            android:name=".TakePictures"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".PurchaseOrderActivity" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".StorageOrderActivity" />
        <activity android:name=".BlackSingleActivity" />
        <activity android:name=".SeachBlackSingleActivity" />
        <activity android:name=".PurchaseTakePictures" />
        <activity android:name=".BlackTakePictures" />
        <activity android:name=".SearchBlackSingleListActivity"></activity>
    </application>

</manifest>